<br/>
<ul>
  <li><%= link_to 'Get all projects', pages_path(1) %></li>
  <li><%= link_to 'Create recording', pages_path(2) %></li>
  <li><%= link_to 'Get all recordings', pages_path(3) %></li>
  <li><%= link_to 'Get all voices', pages_path(4) %></li>
  <li><%= link_to 'Create Clip', pages_path(5) %></li>
  <li><%= link_to 'All Clips', pages_path(6) %></li>
  <li><%= link_to 'Speech-to-Speech', pages_path(7) %></li>
</ul>
<p>response:</p>
<pre>
<code>
<%=  @response %>
</code>
</pre>
